<html>
	<head>
		<link href="/assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Hello EJS World!!</h1>
		<form method="POST" action ='/person'>
			First Name: <input type="text", name="firstname" />
			Last Name: <input type="text", name="lastname" />
			<input type="submit" value="Submit" >
		</form>
	</body>
</html>