<html>
	<head>
		<link href="/assets/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	</head>
	<body>
		<h1>Hello JSON World!!</h1>
		<h2> Gracious Amigo <%= lName %></h2>
		
	
		
	</body>
</html>